.blockBox {
    position: relative;
    display: inline-block;
    border: black 2px solid;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: white;
} 

.blockBox h2{
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    max-height: 42px;
    font-size: 16px;
}