.blockBox {
    position: relative;
    display: inline-block;
    border: black 2px solid;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: white;
} 

.content-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.noImgTitle {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    max-height: 192px;
    padding: 20px 0;
    font-size: 16px;
}

.imgTitle {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    max-height: 42px;
    font-size: 16px;
}

.img-small{
    height: auto;
    max-width: 250px;
}
.video-container {
    height: auto;
    max-width: 250px;
}

.youtube-container {
    height: auto;
    max-width: 250px;
}