.blockBox {
    min-width: 33%;
    max-height: 400px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 20px rgba(179, 178, 178, 0.534);
    -webkit-box-shadow: inset 0 0 20px rgba(179, 178, 178, 0.534);
    -moz-box-shadow: inset 0 0 20px rgba(179, 178, 178, 0.534);
    box-shadow: 0 0 10px rgba(70, 70, 70, 0.534);
    -webkit-box-shadow: 0 0 10px rgba(70, 70, 70, 0.534);
    -moz-box-shadow: 0 0 10px rgba(70, 70, 70, 0.534);
    text-align: left;
    transition: transform .25s;
    box-sizing: border-box;
}

.blockBox:hover{
    transform: scale(1.05);
}

.content-container {
    max-height: 200px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

.author {
    text-align: left;
}

.author:hover{
    color: black;
}
.subreddit {
    text-align: right;
}
.subreddit:hover{
    color: black;
}
.noImgTitle {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    max-height: 192px;
    padding: 20px 0;
    font-size: 16px;
}

.imgTitle {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    max-height: 42px;
    font-size: 16px;
}

.imgTitle, .noImgTitle {
    margin: 5px 15px;
}
.img-small{
    height: auto;
    max-width: 250px;
}
.post-info{
    text-align: left;
    margin-left: 10px;
}
.post-info h3{
    margin-left: 10px;
    color: red;
    font-size: 14px;
    display: inline-block;
    text-transform: lowercase;
}
.video-container video{
    max-width: 250px;
    height: auto;
    
}
.vote-container *{
    display: inline-block;
}
.vote-container p{
    margin-left: 5px;
    margin-right: 10px;
    font-style: bold;
    font-size: 12px;
}

.chevron-up {
    margin-left: 10px;
}

.youtube-container {
    height: auto;
    max-width: 250px;
}