.comment {
    border-left: solid 1px var(--main-text-color);
    text-align: left;
    margin-left: 0.75rem;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
}
.comments-container > .comment {
    margin-left: 1.25rem;
    border-left: 1px var(--main-text-color) solid;
    margin: 2px;
    border-radius: 10px;
}
.author-name{
    font-weight: 600px;
    font-size: 14px;
}