
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 0 auto;
  background-color: white;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: white;
  z-index: 6;
  width: 100%;
  top: 0;
  margin: 0 auto;
  padding: 10px;
}
nav h1, nav h3{
  display: inline-block;
  color: red;
}
nav h1 {
  margin-left: 20px;
  vertical-align: bottom;
  margin-bottom: 0;
}
.reddit-logo {
  display: inline-block;
  color: red;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}


.drop-down {
  position: relative;
  float: right;
  margin-right: 75px;
  min-width: 200px;
  z-index: 2;
}

.drop-down-content {
  display: none;
  background-color: rgb(196, 196, 196);
  color: black;
}

.drop-down-content p:hover {
  color: red;
}

.drop-down:hover .drop-down-content{
  display: block;
}


.blockContainer {
  position: relative;
  margin: 20px auto;
  background-color: rgb(224, 224, 224);
  padding: 15px;
  width: 85%;
  min-height: 500px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.blockContainer h3{
  margin: 0 auto;
}

.topics-bar{
  background-color: rgb(224, 224, 224);
  width: 85%;
  height: 60px;
  margin: 0 auto;
  border-radius: 30px;

}
.topics-bar ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}
.topics-bar li{
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  font-weight: 800;
  background-color: red;
  margin: 0 5px;
  border-radius: 22.5px;
}
.topics-bar li:hover{
  box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  -moz-box-shadow: 0 0 5px red;
}

/** Mobile Styling **/

.mobile-nav {
  display: none;
}

@media screen and (max-width: 800px) {
  .topics-bar{
    display: none;
  }
  .mobile-nav{
    display: inline-block;
    margin: 0 20px;
  }
  .dropdown{
    background-color: red;
    border-radius: 10px;
    color: white;
    list-style-type: none;
    padding: 5px 15px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s;
  }
  .dropdown ul{
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .mobile-nav:focus .dropdown,
  .mobile-nav:focus-within .dropdown,
  .mobile-nav:hover .dropdown{
    visibility: visible;
    opacity: 1;
    z-index: 7;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
  .mobile-menu-list {
    color: red;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    transition: transform .55s;
  }
  .mobile-menu-list:hover {
    transform: rotate(-90deg);
  }

}
